<h1>Movies list</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Poster</th>
      <th scope="col">Title</th>
      <th scope="col">Plot</th>
      <th scope="col">Released</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= image_tag movie.poster, width: 80 %></td>
        <td><%= movie.title %></td>
        <td><%= movie.plot %></td>
        <td><%= movie.released %></td>
        <td>
          <%= link_to "#", { class: "btn btn-primary btn-sm" } do %>
            <i class="fas fa-search"></i>
          <% end %>
        </td>
        <td>
          <%= link_to "#", { class: "btn btn-warning btn-sm" } do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td>
          <%= link_to "#", { class: "btn btn-danger btn-sm" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
